.mainContainer {
  max-width: 50vw;
  margin: 0px auto;
}

@media (max-width: 720px) {
  .mainContainer {
    margin: auto !important;
  }
}

.postInformation {
  display: flex;

  div {
    display: flex;
    align-items: center;

    span,
    svg {
      font-size: 0.875rem;
      color: var(--info);
    }

    svg {
      margin-right: 8px;
    }

    &:not(:last-child) {
      margin-right: 24px;
    }
  }
}
