.postContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 48px;
  cursor: pointer;

  &:hover {
    .postTitle,
    .postSubtitle {
      text-decoration: underline;
    }
  }

  &:last-child {
    margin: unset !important;
  }
}

.postTitle {
  color: var(--heading);
  font-size: 1.75rem;
  font-weight: 700;
  margin-bottom: 8px;
}

.postSubtitle {
  font-size: 1.125rem;
  margin-bottom: 24px;
  font-weight: 400;
}

.loadMoreButton {
  position: relative;
  background-color: transparent;
  color: var(--highlight);
  font-weight: 600;
  font-size: 1.125rem;
  border: none;

  &:hover {
    &::after {
      position: absolute;
      bottom: -6px;
      left: 0;
      content: '';
      height: 2px;
      width: 100%;
      background-color: var(--highlight);
    }
  }
}
