// TODO
.postContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 48px;

  &:last-child {
    margin: unset !important;
  }

  div {
    display: flex;

    div {
      display: flex;
      align-items: center;

      span,
      svg {
        font-size: 0.875rem;
        color: var(--info);
      }

      svg {
        margin-right: 8px;
      }

      &:first-child {
        margin-right: 24px;
      }
    }
  }
}

.postTitle {
  color: var(--heading);
  font-size: 1.75rem;
  font-weight: 700;
  margin-bottom: 8px;
}

.postSubtitle {
  font-size: 1.125rem;
  margin-bottom: 24px;
  font-weight: 400;
}
